<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/bookstore1">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.current_session_context_class">
				thread
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entity/Book.hbm.xml</value>
				<value>com/entity/Orders.hbm.xml</value>
				<value>com/entity/User.hbm.xml</value>
				<value>com/entity/Catalog.hbm.xml</value>
				<value>com/entity/Orderitem.hbm.xml</value>
				<value>com/entity/Admin.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	 <!-- 定义UserDAOImpl类-->
	<bean id="userDAO" class="com.dao.impl.UserDAOImpl">	  
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 定义UserBizImpl类,并为其userDAO属性注入值-->
	<bean id="userBiz" class="com.biz.impl.UserBizImpl">	  
    	<property name="userDAO" ref="userDAO" />
    </bean>
	  <!-- 定义UserAction，并为其中属性userBiz注入值 -->
	<bean name="userAction" class="com.action.UserAction">
    	<property name="userBiz" ref="userBiz" />
    </bean>	
    
     <!-- 定义CatalogDAOImpl类-->
	<bean id="catalogDAO" class="com.dao.impl.CatalogDAOImpl">	  
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 定义CatalogBizImpl类,并为其catalogDAOImpl属性注入值-->
	<bean id="catalogBiz" class="com.biz.impl.CatalogBizImpl">	  
    	<property name="catalogDAO" ref="catalogDAO" />
    </bean>
    
     <!-- 定义BookDAOImpl类-->
	<bean id="bookDAO" class="com.dao.impl.BookDAOImpl">	  
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 定义BookBizImpl类,并为其bookDAOImpl属性注入值-->
	<bean id="bookBiz" class="com.biz.impl.BookBizImpl">	  
    	<property name="bookDAO" ref="bookDAO" />
    </bean>
    
    <!-- 定义BookAction，并为其中属性bookBiz和属性catalogBiz注入值 -->
	<bean name="bookAction" class="com.action.BookAction">
    	<property name="catalogBiz" ref="catalogBiz" />
    	<property name="bookBiz" ref="bookBiz" />
    </bean>	
      
    <!-- 定义OrderDAOImpl类-->
     <bean name="orderDAO"  class="com.dao.impl.OrderDAOImpl">
         	<property name="sessionFactory" ref="sessionFactory" />
     </bean>
      <!-- 定义OrderBizImpl类,并为其OrderDAOImpl属性注入值-->
	<bean id="orderBiz" class="com.biz.impl.OrderBizImpl">	  
    	<property name="orderDAO" ref="orderDAO" />
    </bean>
     <!-- 定义ShoppingAction，并为其中属性bookBiz和属性orderBiz注入值 -->
    <bean name="shoppingAction" class="com.action.ShoppingAction">
    	<property name="bookBiz" ref="bookBiz"></property>
    	<property name="orderBiz" ref="orderBiz"></property>
    </bean>
    
	</beans>